doctype html
html(lang='en', data-framework='backbonejs')
head
    meta(charset='utf-8')
    title Backbone.js • TodoMVC
    link(rel='stylesheet', href='/bower_components/todomvc-common/base.css')
  body
    section#todoapp
      
    footer#info
      p Double-click to edit a todo
      p
        | Written by
        a(href='https://github.com/addyosmani') Addy Osmani
      p
        | Part of
        a(href='http://todomvc.com') TodoMVC
    
    script(src='bower_components/todomvc-common/base.js')
    script(src='bower_components/react/react-with-addons.js')
    script(src='bower_components/react/JSXTransformer.js')
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/underscore/underscore.js')
    script(src='bower_components/backbone/backbone.js')
    script(src='bower_components/backbone.localStorage/backbone.localStorage.js')

    script(src='js/models/todo.js')
    script(src='js/collections/todos.js')

    script(type='text/jsx', src='js/jsx/todoItem.jsx')
    script(type='text/jsx', src='js/jsx/footer.jsx')
    script(type='text/jsx', src='js/jsx/app.jsx')
    

